.game {
    height: 100vh;
    background-position: center;
    background-size: cover; 
    background-image: url('../../assets/bg-pages.svg');
    
}
/* @media (min-width: 1024px){
    .game {
        
        
        
        
}
} */