.game {
    height: 100vh;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-image: url('../../assets/bg-pages.svg');  
}
.headerGame{
    display: flex;
    justify-content: space-between; 
}
.buttonGame{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
