.container-result{
    display: flex;
    justify-content: center;
}
.card-img-top{
    width: 73px;
    height: 170px;
    padding-right: 50px;
}

.card-body {
    width: 80px;
    font-family: 'Cinzel';
    font-size: 16px;
    font-weight: bold;
}
.card-text{
    margin-top: 5px;
    line-height: 1;
    width: 90px;
    height: 120px;
    font-size: 14px;   
}
.position{
    font-size: 16px;
}
.card-title {
    font-weight: bolder;
    font-size: 18px;
}

@media (min-width: 620px){
    .card-img-top{
        width: 135px;
        height: 280px;
        padding-right: 50px;
    }
    .card-text{
        font-size: 20px;
        font-weight: 400;   
    }
    .position{
        font-size: 20px;
    }
    .card-title {
        font-size: 22px;
    }
}



  
