
.button {
    width: 197px;
    height: 71px;
    background-color: var(--blue-btn);
    border: 2px solid var(--pink-border-btn);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .textButton {
    color: var(--white-text-btn);
    text-align: center;
    text-decoration: none;
  }