.card-reverse-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 160px;
  background-image: url(https://i.ibb.co/XxrvMJ2/Reverso-Sakura.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 3px var(--box-shadow-cards);
  text-align: center;
  margin-top: 20vh;
  margin-left: 40vw;
}

.text-card-reverse {
  color: var(--black);
  font-weight: bolder;
  font-size: 18px;
  width: 250px;
  margin-top: -87px;
  position: absolute;
  margin-left: 15.5vw;
  line-height: 1;

}

.card-circle-reverse {
  position: absolute;
  left: 48vw;
  top: 27vh;
  padding-bottom: 10px;
}

.card-reverse {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 70px;
 margin-left: -20px;
}

.card-reverse-img-top {
  width: 53px;
  height: 112px;
}

.deck {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: transparent;
  cursor: pointer;
}
.ready-text{
  position: absolute;
  width: 190px;
  height: 80px;
  background-color: var(--modal-feedback);
  border: 3px solid var(--modal-feedback-border);
  border-radius: 15px;
  display: flex;
  bottom: 460px;
  right: 87px;
}
.text-feedback{
  font-size: 14px;
  margin-left: 5px;
  margin-top: 1px;
 
}
.image-feedback{
  width: 70px;
  margin-right: 1px;
}
.title-game{
  text-align: center;
}

@media only screen and (min-width: 393px) and (max-width: 852px) {

  .card-reverse-container {
    margin-top: 19.5vh;
    margin-left: 39vw;
    
  }
  .text-card-reverse {
    font-size: 26px;
    width: 400px;
    left: -11.5vw;
    
  }
  .card-circle-reverse {
    position: absolute;
    left: 42vw;
    top: 27vh;
    
  }
  }