.informationHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 25px;
    font-family: Cinzel;
    line-height: 1.8;
}
@media (min-width: 620px){
 .informationHome{
    font-size: 28px;
 }
}
