.result {
    height: 897px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/bg-pages.svg');
    overflow: hidden;
}